h3 {
    color: var(--accent4);
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

p .small {
    font-size: 14px;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--accent4);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--accent4);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card1:hover:before {
    transform: scale(21);
}

.card1:hover h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
}

.card1:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
}

.card2:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}

.card2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--accent4);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
}

.card2:hover:before {
    transform: scale(2.15);
}

.card3 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #f2f8f9;
}

.card3 .go-corner {
    opacity: 0.7;
}

.card3:hover {
    border: 1px solid var(--accent4);
    box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
    z-index: 500;
}

.card3:hover p {
    color: var(--accent4)
}

.card3:hover .go-corner {
    transition: opactiy 0.3s linear;
    opacity: 1;
}

.card4 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #cccccc;
}

.card4 .go-corner {
    background-color: var(--accent4);
    height: 100%;
    width: 16px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(6deg);
    margin-right: -36px;
    align-items: start;
    background-image: linear-gradient(-45deg, #8F479A 1%, #DC2A74 100%);
}

.card4 .go-arrow {
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 9px;
    opacity: 0;
}

.card4:hover {
    border: 1px solid #CD3D73;
}

.card4 h3 {
    margin-top: 8px;
}

.card4:hover .go-corner {
    margin-right: -12px;
}

.card4:hover .go-arrow {
    opacity: 1;
}


/* Card Bussines*/

.card {
    width: calc(300px * 1.586);
    height: 300px;
    border-radius: 0.75rem;
    box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    background: var(--accent);
    display: grid;
    grid-template-columns: 40% auto;
    color: var(--accent4);
    align-items: center;
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 32px 80px 14px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.card-details {
    padding: 1rem;
}

.name {
    font-size: 1.25rem;
}

.occupation {
    font-weight: 600;
    color: var(--primary);
}

.card-avatar {
    display: grid;
    place-items: center;
}

svg {
    fill: white;
    width: 65%;
}

.card-about {
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: column;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.item .value {
    font-size: 1rem;
}

.item .label {
    margin-top: 0.15rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--primary);
}

.skills {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
}

.skills .label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary);
}

.skills .value {
    margin-top: 0.15rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
}


/*Card MD*/

.card-md {
    height: 300px;
    width: 300px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.card-md:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-md h3 {
    font-weight: 600;
}

.card-md img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

.card-md {
    background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}